/* apply a natural box layout model to all elements, but allowing components to change */
html {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* General */

body {
  max-width: 800px;
  margin: auto;
}


/* Image Styling */

.octocat-group {
  float: left;
  margin: 5px;
  padding: 0;
}

.octocat-pics {
  /*float: left;*/
  width: 220px;
  margin: 5px 0;
  border: lightgrey 1px solid;
}
/* Bottom Line */
h4 {
  /*float: left;*/
  font-size: 9px;
  color: lightgrey;
}

p {
  font-size: 9px;
  text-align: right;
margin-top: 0;

}
.avatar {
  width: 20px;
  border-radius: 20%;
}
