/* apply a natural box layout model to all elements, but allowing components to change */
html {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* General */

body {
  max-width: 1000px;
  margin: auto;
  padding: inherit;
}

/* Image Styling */

.column {
  float: left;
  display: inline-block;
  margin: 5px 5px 0 5px;
  padding: 0;
}

.octocat-pics {
  float: left;
  display: inline-block;
  width: 300px;
  margin: 3px;
  padding: 0px;
  border: 1px solid #D3D3D3;
}
/* Number and Author Tags */

h4 {
  text-align: left;
  font-size: 10px;
  color: #D3D3D3;
  padding: 0;
  margin: 0 0 0 .5em;
}

p {
  text-align: right;
  font-size: 10px;
  padding: 0;
  margin: 0 .5em 0 0;
}

.avatar {
  width: 14px;
  border-radius: 20%;
  padding: 0;
  margin: 0;
}
